@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--main-bg-color: #00000f;
	--main-color: #23daeb;
}

h1 {font-family: 'Lato';}

	header {
	margin-top: 20px;
	margin-bottom: 50px;
	}

	html {
	font-family: 'Lato';
	max-width: 800px;
	margin: auto;
	}
	html {
   	 color: var(--main-color);
	/** background-image: url("https://raw.githubusercontent.com/unity858/sundry/main/photography/Blank_BG.webp");
	background-size: cover; **/
	background-color: var(--main-bg-color);
	opacity: 1.0;
	background-attachment:fixed;
	}

	/**side {
		background-image: url("https://raw.githubusercontent.com/unity858/sundry/main/photography/Blank_BG.webp");
		background-size: cover;
	}**/
	
	body {
	font-family: 'Lato';
	font-size: 15pt;
	margin-bottom: 100px;
	position: relative;
	}

	.example {  
	overflow-y: scroll; /* Add the ability to scroll */
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.example::-webkit-scrollbar {
    	display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.example {
  	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
	}

	a.nav-home {
	margin-right: auto;
	}
    
  	  a.nav {
        color: var(--main-color);
  	  }

  	  a.nav:visited {
        color: var(--main-color);
  	  }
	}

	a:link {
 	  color: aquamarine;
	  text-decoration: none;
	}

	a:visited {
	  color: aquamarine;
	  text-decoration: none;
	}

	a:hover {
	  background-color: transparent;
 	  color: var(--main-color);
	  text-decoration: underline;
	}

	.button {
	background-color: transparent;
  	color: var(--main-color);
  	padding: 10px 20px;
	border: 2px solid var(--main-color);
	border-radius: 20px;
	text-decoration: none;
	}

	.button:hover {
  	  background-color: transparent;
	}

	.footer {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: transparent;
  	color: var(--main-color);
  	text-align: center;
	margin-bottom: 20px;
	}

	.invert_effect {
            filter: invert(20%);
        }

	.center {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	}
